
/* CSSコード */
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  box-shadow:  1px 1px 1px black;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/4);
  height: 50px;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#tab_1:checked ~ #tab_1_content,
#tab_2:checked ~ #tab_2_content,
#tab_3:checked ~ #tab_3_content,
#tab_4:checked ~ #tab_4_content{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: rgba(0, 0, 0, 0.48);
  color: white;
}
/*以上がコピペ部分です。いじらないように*/
*{
  margin:0; padding:0;
  font-family: "my font","日本語",sans-serif;
}
@font-face {
  font-family: "my font";
  src: url("forum.otf");
}
@font-face {
  font-family: "日本語";
  src:url("shsn.otf")
}
@charset "UTF-8";

body{
  max-width:1000px;
  margin-left: auto;
  margin-right: auto;
}
img{
  max-width: 100%;
}
img[src="logo.png"]{
  max-height:56px;
  max-width: 295.13px;
}
img[src="favicon.ico"]{
  max-height:56px;
  max-width: 314.24px;
  border-radius: 50%;

}
header{
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 100px;
  height:56px;
}
header ul{
  display: flex;
  box-sizing: border-box;
}
header ul li{
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  padding:8px;
  box-sizing: border-box;
}
header ul li a {
 text-decoration:none;
 list-style-type: none;
 margin:0 1px;
 padding:0 1rem;
 border-bottom: solid gray 1px;
 color: black;
}
header ul li a:hover {
  opacity: 0.75;
  font-weight:900;
}
header ul li a:active {
  background: red;
  color: white;
}
h2{
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  width:fit-content;
  background: linear-gradient(0deg, rgba(0,0,0,0.6505952722886029) 0%, rgba(253,187,45,0) 27%);
}
.about {
  margin-top:  auto;
  margin-bottom:  auto;
  vertical-align: middle;
}
#about{
  display:grid;
grid-template-columns: 1fr 1fr;
margin-bottom: 100px;
max-width:900px;
margin-left: auto;
margin-right: 0;
}
.project_box{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px ;
}
#videos{
  margin-bottom: 100px;
}
.project_box{
  max-width: 900px;
  margin-left: auto;
  margin-right: 0;
}
.project_box a img{
  mix-blend-mode: color-burn;
}
.project_box a:hover{
  background-image: url(logo.png);
}
@media screen and (max-width:800px){
  header ul {
    display:none;
  }
  #about{
    grid-template-columns: 1fr;
  }
  .project_box{
    grid-template-columns: 1fr;
  }
  .project_box a:hover{
    display:none;
}
}
